:host footer {
    border-top: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    box-shadow: -1px 6px 29px -6px rgba(0,0,0,0.75);
}

:host(.alignBottom) {
    width: 25%;
    height: 0%;
}

:host(.pdfViewer) main,
:host(.noPadding) main{
    padding: 0 !important;
}

:host(.smpc-mobile) main{
    padding-right: 0 !important;
}

/*:host(.historyPage) main {*/
/*    background-color: #134E9E !important;*/
/*}*/

/*::slotted(iframe) {*/
/*    width: 100%; height: 100%;*/
/*    border: 0 !important;*/
/*    padding: 0;*/
/*    margin: 0 0 -10px 0;*/
/*}*/

.mobile > main {
    background-color: #ebebeb !important;
}

.mobile > main {
    display: block;
    padding: 0px !important;
    overflow-y: auto;
}

.mobile > main .main-cover {
    position: absolute !important;
    top: 50px !important;
}

.mobile > header > .title {
    font-size: 1.2rem !important;
}

.mobile > header {
    top: 50px !important;
    height: 50px !important;
    box-shadow: -1px 6px 29px -6px rgba(0,0,0,0.75);
}


.mobile > header {
    padding-top: 5px !important;
    background-color: #FFFFFF !important;
    background-image: url(assets/images/PharmaLedger_logo_RGB_FINAL.png);
    background-size: 85px 60px;
    background-repeat: no-repeat;
    background-position: top 15px left 10px;
}


.mobile > h5 {
    font-size: 1.25rem;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}
.mobile > h6 {
    font-size: 7px;
    margin-bottom: 5px;
}

.sponsor-header > h5, h6 {
    color: #002855 !important;
}

.mobile.cmo-header > h5, h6 {
    color: #312244 !important;
}

.mobile.courier-header > h5, h6 {
    color: #006466 !important;
}

.mobile.clinic-header > h5, h6 {
    color: #03045E !important;
}
/*.mobile > header {*/
/*    background-image: url(assets/images/clinic-medical-solid.svg);*/
/*    background-size: 30px 30px;*/
/*    background-position: top 15px right 10px;*/
/*}*/


::slotted([slot="footer"]) {
    padding: 0 !important;
}

/*
:host(.background) main {
    background-image: url('assets/images/Favorite.png');
    height: 100%;
}
*/
